@using Ordering_App.Models.DTOs
@model AddRestaurantDTO

@if (TempData["Success"] != "" && TempData["Success"] != null)
{
    <div class="overlay-alert">
        @await Html.PartialAsync("_SuccessAlert", new AlertModel {
        Message = TempData["Success"]!.ToString(),
        IsDivDisplayed = TempData["Success"] != "" && TempData["Success"] != null,
        RedirectUrl = Url.Action("Restaurants", "Restaurant")
        })
</div>
}

@if (TempData["Error"] != "" && TempData["Error"] != null)
{
    <div class="overlay-alert">
        @await Html.PartialAsync("_ErrorAlert", new AlertModel {
        Message = TempData["Error"]!.ToString(),
        IsDivDisplayed = TempData["Error"] != "" && TempData["Error"] != null,
        RedirectUrl = Url.Action("AddRestaurant", "Restaurant")
        })
</div>
}
<div class="card mt-4 small-box">
    <div class="card-header heading-form">
        <p>Add New Restaurant</p>
    </div>
    <div class="card-body p-4">
        <form method="post" asp-action="AddRestaurant" asp-controller="Restaurant">
            <div class="row">
                <div class="mb-3 col-md-12">
                    <label asp-for="Name"></label>
                    <input asp-for="Name" class="form-control" placeholder="XXXX XXXX XXXX" required />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="mb-3 col-md-12">
                    <label asp-for="LocationDescription"></label>
                    <input asp-for="LocationDescription" class="form-control" placeholder="XXXX XXXX XXXX"
                        required />
                    <span asp-validation-for="LocationDescription" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="mb-3 col-md-12">
                    <label asp-for="ContactNumber"></label>
                    <input asp-for="ContactNumber" class="form-control" id="phone"
                    maxlength="10"
                    onkeypress="return allowDigits(event)"
                    onpaste="pasteDigits(event,'phone',10)"
                        required />
                    <span asp-validation-for="ContactNumber" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <a href="/Restaurant/Restaurants" class=" btn btn-success w-100"><i
                            class="bi bi-arrow-left-square w-100">
                        </i> Go Back</a>
                </div>
                <div class="col-6">
                    <button class="btn btn-success w-100" type="submit"><i class="bi bi-save"></i> Save</button>
                </div>
            </div>
        </form>
    </div>
</div>
@section Scripts {

    @{
        <partial name="_ValidationScriptsPartial" />
    }

}